.gantt {
  border: 0;
  overflow: hidden;
  padding:0 1.5em 1.5em 1.5em;
}
.gantt__row {
  display: grid;
  grid-template-columns: 20px 1fr;
}
.gantt__row-first {
  padding: 0 0;
  color:#bfbfbf;
}
.gantt__row-bars {
  list-style: none;
  display: grid;
  padding: 1px 0;
  margin: 0;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1px 0;
  border-bottom: 0 solid rgba(221, 221, 221, 0.8);
}
.gantt__row-bars li {
  font-weight: 500;
  background-color: transparent;
  padding: 10px 12px;
  color: #bfbfbf;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.gantt__row-bars li.stripes {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.1) 5px, rgba(255, 255, 255, 0.1) 12px);
}
.gantt__row-bars li:before, .gantt__row-bars li:after {
  content: "";
  height: 100%;
  top: 0;
  z-index: 4;
}
.gantt__row-bars li:before {
  left: 0;
}
.gantt__row-bars li:after {
  right: 0;
}
